---
import LinkButton from "./LinkButton.astro";
import Githubicon from "./icons/Githubicon.astro";
import HugoIcon from "./icons/HugoIcon.astro";
import NextJS from "./icons/NextJS.astro"
import Python from "./icons/Python.astro";
import Tailwind from "./icons/Tailwind.astro"
import Iconastro from "./icons/Iconastro.astro"
import IconLink from  "./icons/IconLink.astro"

const TAGS ={
 
NEXT:{
 name: "Next.js",
 class: "bg-black text-white",
  icon: NextJS
},
TAILWIND:{
  name: "Tailwind CSS",
 class: "bg-[#003159] text-white",
  icon: Tailwind
},
HUGOSERVER:{
  name: "HUGO",
 class: "bg-[#C9177E] text-white",
  icon: HugoIcon
},
PYTHON:{
  name: "PYTHON",
 class: "bg-[#003159] text-white",
  icon: Python
},
Astrof:{
  name: "ASTRO",
 class: "bg-[#C9177E] text-white",
  icon: Iconastro
},
}
const PROJECTS = [ 
  {
    title: "Proyecto Migala",
    description: "Colaborando activamente en la página web del proyecto Migala. Organización social en favor de la sociedad Mexicana",
    link: "https://www.proyectomigala.global/",
    github: "https://github.com/ProyectoMigala/proyectomigala.github.io",
    img: "/proyecto_migala.png",
    tags: [TAGS.HUGOSERVER, TAGS.TAILWIND],
  },
  {
    title: "Rendimiento Estudiantil",
    description: "Script en Python de ETL para la limpieza y análisis de datos para determinar el rendimiento de mis estudiantes de idiomas.",
    link: "",
    github: "",
    img: "/students.webp",
    tags: [TAGS.PYTHON],
  },
  {
    title: "Redgir Idiomas",
    description: "Diseño  y desarrollo de pagina web, además de estrategia de SEO para el sitio web, se uso para LYCHEE para optimización.",
    link: "https://redgiridiomas.com",
    github: "https://github.com/GarciaJared/ClasesRedgir",
    img: "/redgiridiomas.webp",
    tags: [TAGS.Astrof],
  },
  {
    title: "Juriscorp",
    description: "Diseño  y desarrollo de pagina web para un despacho de abogados en Chihuahua. Juriscorp es un cliente al que se le ha diseñado una estrategia de contenido, análisis de datos con Robyn y desarrollo web.",
    link: "https://juriscorp.com.mx",
    github: "",
    img: "/juriscorp.webp",
    tags: [TAGS.Astrof],
  },
];
---
<div class="flex flex-col gap-y-12">
  {
  PROJECTS.map(({ title, description, link, github, img, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-blue-300 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row mb-2">
        {tags.map((tag) => (
           <li>   
              <span class= ` flex gap-x-2 rounded-full text-sm ${tag.class} py-2 px-1` >
                <tag.icon class="size-4"/>
                {tag.name}
              </span>       
          </li>
        ))}
      </ul>
      <img 
      loading="lazy"
      class="rounded shadow-2xl shadow-white/15"
      src={img} 
      alt=`Screenshot about ${title}` />
      <footer class="flex gap-x-4 mt-1">
        {github && (
              <LinkButton href={github}>
          <Githubicon class="size-4 md:size-6 mr-2"/>Ver código
          </LinkButton>
         
        ) } {link &&(
              <LinkButton href={link}>
              <IconLink class="size-4 md:size-6 mr-2"/>Ver página
                </LinkButton>
        )}
        
        
        </footer>
    </article>
  ))
}
</div>

